@font-face {
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    src: inline-font-files('LoraRegular.woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/*
@font-face {
    font-family: 'Lora Bold';
    font-style: normal;
    font-weight: 700;
    src: inline-font-files(assets/fonts/LoraBold.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
  font-family: 'Lora Italic';
  font-style: italic;
  font-weight: 400;
  src: inline-font-files(assets/fonts/LoraItalic.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
  font-family: 'Lora Bold Italic';
  font-style: italic;
  font-weight: 700;
  src: inline-font-files(assets/fonts/LoraBoldItalic.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
*/
